@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --cream: #fdfaf8;
  --red: #c14444;
  --black: #403f3f;
  --gray: #928e8e;
  --background: var(--cream);
  --foreground: var(--black);
  --menu-width: 250px;
  --block-width: 700px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --foreground: var(--cream);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
