@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --cream: #fdfaf8;
  --red: #c14444;
  --light-red: #f6d9d9;
  --black: #403f3f;
  --gray: #928e8e;
  --light-gray: #cecbcb;
  --background: var(--cream);
  --foreground: var(--black);
  --menu-width: 20vw;
  --menu-max-width: 250px;
  --menu-min-width: 180px;
  --max-block-width: 600px;
  --block-width: 60%;
  --menu-margin: 20px;
  --content-width: calc(100vw - var(--menu-width) - var(--menu-margin));
}

/* @media (max-width: 1024px) {
  :root {
    --menu-width: 200px;
  }
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --foreground: var(--cream);
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}
